/* ---- General ---- */

h1{
    font-family: 'source sans pro';
    font-size: 2em;
    color: whitesmoke;
}
h2{}
h3{}
p{}

img{
    max-width: 100%;
  height: auto;
}
a{text-decoration: none;}

/* ---- Navigation Bar ---- */
nav{
    background-color: #acd373;
}
nav .col-md-4{
    display:inline-block;
    text-align: left;
}
nav .col-md-2 a{}
nav .col-md-2 a img{}
nav .col-md-8{
    display:inline-block;
    text-align: right;
}
nav .col-md-8 a{
    font-family:"Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-transform: uppercase;
}
    
/* ---- Header ---- */
header{
    text-align: center;
    background-color: #9abd67;
    background-image: url("photos/skyline.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}
header h1{
    font-family: "Source Sans Pro";
    font-size: 48px;
    font-weight: bold;
    color: #f7f7f7;
}
header h3{
    font-family: "Droid Serif";
    font-size: 24px;
    font-weight: ;
    font-style: italic;
    color: #f7f7f7;
}
header a{}
header a img{}

/* ---- Who We Are Section ---- */
.who{
    background-color: #f7f7f7;
}
.who .col-sm-8{}
.who .col-sm-8 h2{
    font-family: "Source Sans Pro";
    font-size: 30px;
    color: #454545;
    text-transform: uppercase;
}
.who .col-sm-8 h2 img{vertical-align: middle;}
.who .col-sm-8 p{
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #454545;
}
.who .col-sm-8 p span{}
.who .col-sm-8 a{
    display: inline-block;
    font-family: "Droid Serif";
    font-size: 18px;
    color: #acd373;
    font-style: italic;
    padding: 15px 20px;
    border: 1px solid #acd373;
}
.who .col-sm-4{}
.who .col-sm-4{}

 /* ---- Video ---- */
.video{
    text-align: center;
    height: 523px;
    line-height: 523px;
    background-image: url(photos/people%20happy.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}
.video img{}

/* ---- Our Services ---- */
.services{
    text-align: center;
    background-color: #f7f7f7;
}
.services h2{
    color: #454545;
    font-size: 30px;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
}
.services h2 span{color: #acd373;}
.services p {
    color: #454545;
    font-family: "Droid Serif";
    font-size: 18px;
}
.services img{}
.service-items {
    text-align: left;
}

.services-icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}
.graphic-design .services-icon{background-image: url('photos/paintbrush.png');}

.app-development .services-icon{background-image: url('photos/mobile%20phone.png');}

.web-design .services-icon{background-image: url('photos/monitor.png');}

.service-items .services-icon{background-image: url('photos/chart.png');}

.game-development .services-icon{background-image: url('photos/controller.png');}

.made-with-love .services-icon{background-image: url('photos/heart.png');}


.services-description{
    display: inline-block;
}
.services-description h3{
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: bold;
    color: #acd373;
}
.services-description p{
    font-family: 'Source Sans Pro';
    font-size: 18px;
    color: #454545;
}

.services a{
    display: inline-block;
    border: 1px solid #acd373;
    color: #acd373;
    font-family: "Droid Serif";
    font-size: 18px;
    font-style: italic;
    padding: 15px 20px;
}














/* 
-need image to resize to smaller dimensions
-need play button to be centered
*/

.services {}
/*    
x- li 4-6 are hidden
- make li centered
*/

.services li{
display:block;
padding-top: 20px;
padding-bottom: 20px;
}

.services li:nth-of-type(4){display: none;}
.services li:nth-of-type(5){display: none;}
.services li:nth-of-type(6){display: none;}

.team {}
/*    
-li 2-4 are hidden
*/

.team li:nth-of-type(2){display: none;}
.team li:nth-of-type(3){display: none;} 
.team li:nth-of-type(4){display: none;}

.hiring {}
/*    appears the same as desktop */

.works {}
/*    
x-li 1,2,4,5 are hidden
-
*/

.works li:nth-of-type(1) {display: none;}
.works li:nth-of-type(2) {display: none;}
.works li:nth-of-type(4) {display: none;}
.works li:nth-of-type(5) {display: none;}

.links {}
/*
-li 3-6 are display: none;
*/

.links li:nth-of-type(3) {display:none;}
.links li:nth-of-type(4) {display:none;}
.links li:nth-of-type(5) {display:none;}
.links li:nth-of-type(6) {display:none;}

.testimonials{}
/*
-.featuredTestimonial is above .aboutTestimonial
- featuredTestimonial 2 is hidden
*/

.featuredTestimonial:nth-of-type(2){
display: none;
}

.blog{}
/*
same content as desktop
li's are arranged in 2x2 grid
*/

.map{}
/*
map as grey overlaw
additional text - "See Map Details"
*/

.contact{}
/*    same content*/

.footer{}
/*    a's are on top of p*/

}