.container {
    width: 1170px;
    margin: 0 auto;
} 

.right {float: right;}

nav{
    background-color: #acd373;
    height: 106px;
    line-height: 106px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

nav img{vertical-align: middle;}

nav a{
    font-family:"Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 14px;
}

nav a:hover {text-decoration: underline;}

header{
    height: 700px;
    text-align: center;
    background-color: #9abd67;
    background-image: url("photos/skyline.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}

header h1{
    font-family: "Source Sans Pro";
    font-size: 48px;
    font-weight: bold;
    color: #f7f7f7;
    padding-top: 230px;
}

header h2{
    font-family: "Droid Serif";
    font-size: 24px;
    font-weight: ;
    font-style: italic;
    color: #f7f7f7;
    margin-top: 30px;
    padding-top: ;  
}

header a{
    display: block;
    margin-top: 132px;
}

.who{
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 90px;
    padding-bottom: 90px;
    }

.who .container div{
    text-align: left;
}

.who h2{
    font-family: "Source Sans Pro";
    font-size: 30px;
    color: #454545;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.who h2 img{
    vertical-align: middle;
    margin-right: 20px;
}

.who p{
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #454545;
}

.who a{
    display: inline-block;
    border: 1px solid #acd373;
    font-family: "Droid Serif";
    font-size: 18px;
    color: #acd373;
    font-style: italic;
    text-decoration: none;
    margin-top: 45px;
    padding: 15px 20px;
}

.who .container div{
    display: inline-block;
    width: 769px;
}

.video{
    display: ;
    text-align: center;
    height: 523px;
    line-height: 523px;
    background-image: url(photos/people%20happy.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.video img{vertical-align: middle;}

.services{
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services h2{
    color: #454545;
    font-size: 30px;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
}

.services h2 span{color: #acd373;}

.services .container > p{
    color: #454545;
    font-family: "Droid Serif";
    font-size: 18px;
    padding-top: 22px;
}

.services img{padding-top: 20px;}

.services ul{padding-top: 50px;}

.services li{
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
}

.services-icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}
.services li:nth-of-type(1) .services-icon {background-image: url('photos/paintbrush.png');}

.services li:nth-of-type(2) .services-icon {background-image: url('photos/mobile%20phone.png');}

.services li:nth-of-type(3) .services-icon {background-image: url('photos/monitor.png');}

.services li:nth-of-type(4) .services-icon {background-image: url('photos/chart.png');}

.services li:nth-of-type(5) .services-icon {background-image: url('photos/controller.png');}

.services li:nth-of-type(6) .services-icon {background-image: url('photos/heart.png');}

.services-description{
    text-align: left;
    display:inline-block;
    width: 300px;
}

.services-description h4{
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: bold;
    color: #acd373;
}

.services-description p{
    font-family: 'Source Sans Pro';
    font-size: 18px;
    color: #454545;
    padding-top: 15px;
}

.services a{
    display: inline-block;
    border: 1px solid #acd373;
    color: #acd373;
    font-family: "Droid Serif";
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    margin-top: 45px;
    padding: 15px 20px;
}

.team{
    background-color: #acd373;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.team h2{
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-size: 30px;
    color: #f7f7f7;
}

.team .container > p{
    font-family: "Droid Serif";
    font-size: 18px;
    color: #f7f7f7;
    font-weight: ;
    font-style: italic;
    padding-top: 22px;
}

.team img{padding-top: 20px;}

.team ul{padding-top:20px;}

.team li{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 247px;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin: 70px 15px 0 15px;
    text-align: center;
}

.team li > img{margin-top: -70px;}

.team li h3 {
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #acd373;
    margin-top: 15px;
}

.team li p {
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 16px;
    color: #787878;
    margin-top: 9px;
}

.socialMediaIcons {
    position: absolute;
    bottom: 0;
    background: #ebebeb;
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.socialMediaIcons img {
    vertical-align: center;
    margin: 0 4px;
}

.hiring{
    background-color: #9abd67;
    height: 110px;
    line-height: 110px;
    text-align: center;
}

.hiring p{
    display: inline-block;
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #ebebeb;
}

/* button is messed up, too much padding on top & bottom */
.hiring a{
    display: inline-block;
    border: 1px solid #ebebeb;
    color: #ebebeb;
    font-family: "Droid Serif";
    font-size:  18px;
    font-style: italic;
    text-decoration: none;
    padding: 0px 15px;
    margin-left: 50px;
}

/* Our Recent Works */
.works{
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 100px;
    padding-bottom:70px;
}

.works h2{
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-size: 30px;
    color: #454545;
}

.works h2 span{
    color: #acd373;
}

/* quotation marks need to be updated */
.works .container > p{
    font-family: "Droid Serif";
    font-size: 18px;
    color: #454545;
    padding-top: 22px;
}

.works .container > img{padding-top: 20px;}

.works ul{padding-top:20px;}

.works li{
    display: inline-block;
    background-color: #ebebeb;
    margin: 6px;
}

.works li img {}

.works li h3 {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #454545;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 25px;
}

.works li p {
    font-family: "Droid Serif";
    font-size: 18px;
    color: #454545;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 25px;
}

.works a {
    display: inline-block;
    border: 1px solid #acd373;
    color: #acd373;
    font-family: "Droid Serif";
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    margin-top: 45px;
    padding: 15px 20px;
}

/* links section spills over when the screen gets too small */
.links{
    background-color: #ebebeb;
    text-align: center;
    height: 120px;
    line-height: 120px;
}

.links li{
    display:inline-block;
    padding: 0px 25px;
}

.links li img{
    vertical-align: middle;
}

/* Testimonials */
.testimonials{
    background: url(photos/testimonial%20background.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.aboutTestimonials{
    display: inline-block;
    text-align: left;
    width: 33%;
}

.aboutTestimonials h2{
    font-family: "Source Sans Pro";
    font-size: 30px;
    color: #f7f7f7;
    text-transform: uppercase;
    font-weight: ;
    font-style: ;
}

.aboutTestimonials p{
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #f7f7f7;
    text-transform: ;
    font-weight: ;
    padding-top: 45px;
}

.aboutTestimonials a{
    display: inline-block;
    border: 1px solid #acd373;
    color: #acd373;
    font-family: "Droid Serif";
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    margin-top: 45px;
    padding: 15px 20px;
}

.featuredTestimonial{
    display: inline-block;
    width: 371px;
    text-align: left;
    padding: ;
}

.quoteBox{
    display: block;
    background-image: "photos/blockquotes.png";
    background-repeat: no-repeat;
    background-position: ;
    font-family: 'Droid Serif';
    font-size: 16px;
    color: #f7f7f7;
}

.featuredTestimonial img{
    display: inline-block;
}

.featuredTestimonial div{
    display: inline-block;
}

.featuredTestimonial div h3{
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #acd373;
    text-transform: uppercase;
    font-weight: bold;
    font-style: ;
}

.featuredTestimonial div p{
    font-family: "Droid Serif";
    font-size: 18px;
    color: #f7f7f7;
    text-transform: ;
    font-weight: ;
    font-style: italic;
}

.testimonial img{
    display: block;
}

.blog{
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.blog h2{
    font-family: "Source Sans Pro";
    font-size: 30px;
    color: #454545;
    text-transform: uppercase;
    font-weight: ;
    font-style: ;
    margin: px;
}

.blog p{
    font-family: "Droid Serif";
    font-size: 18px;
    color: #454545;
    text-transform: ;
    font-weight: ;
    font-style: italic;
    padding-top: 22px;
}

.blog .container > img{padding-top:20px;}

.blog ul{
    padding-top:20px;
}

.blog li{
    position: relative;
    text-align: center;
    display: inline-block;
    height: 335px;
    width: 270px;
    background-color: #ebebeb;
}

.blog li img{}

.greenCircle{
    border-radius: 50%;
    background-color: #acd373;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-top: -25px;
}

.greenCircle img{
    vertical-align: middle;
    
}

.blog li h3{
    font-family: "Droid Serif";
    font-size: 18px;
    color: #454545;
    text-transform: ;
    font-weight: ;
    font-style: ;
    margin: 0px;
}

.blog li a{
    position: absolute;
    bottom: 0;
    background-color: #acd373;
    color: #f7f7f7;
    font-size: 18px;
    font-style: italic;
    padding: 15px 0px;
    width: 100%;
    text-decoration: none;
}

.newsletter{
    display: ;
    background-color: #acd373;
    height: 110px;
    line-height: 110px;
    text-align: center;
}

.newsletter p{
    display: inline-block;
    font-family: "Source Sans Pro";
    color: #f7f7f7;
    font-size: 18px;
    margin-right: 40px;
}

.newsletter input{
    display: inline-block;
    font-family: 'Droid Serif';
    font-size: 14px;
    font-style: italic;
    border: 1px solid #f7f7f7;
    padding: 10px;
    background-color: #acd373;
    color: #f7f7f7;
}

.newsletter img{
    display: inline-block;
    background-color: #f7f7f7;
}

.map{
    background-image: url("photos/maps.jpg");
    text-align: center;
    height: 500px;
    line-height: 500px;
}

.map img{
    vertical-align: middle;
}

.contact{
    vertical-align: middle;
    background-color: #acd373;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 80px;
}

.contact h2{
    font-family: 'Source Sans Pro';
    font-size: 30px;
    color: #f7f7f7;
    text-transform: uppercase;
}

.contact img{padding-top:20px;}

.contactForm{
    width: 570px;
    text-align: left;
}

.contactForm p{
    font-family: 'Source Sans Pro';
    font-family: 18px;
    color: #f7f7f7;
    padding-top: 40px;
}

.contactForm input{
    font-family: 'Droid Serif';
    font-family: 15px;
    color: #f7f7f7;
    font-style: italic;
    background-color: #9abd67;
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 15px;
}

.contactForm a{
    display: inline-block;
    background-color: #9abd67;
    color: #f7f7f7;
    font-family: "Droid Serif";
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    margin-top: 45px;
    padding: 15px 20px;
}

footer{
    background-color: #9abd67;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p {
    font-family:'Source Sans Pro';
    font-size: 18px;
    color: #f7f7f7;
}

footer ul{}

footer li {
    display: inline-block;
    vertical-align: middle;
}

foooter li a

footer li img {
    vertical-align: middle;
}